.thanks {
  position: fixed;
  top: 0vh;
  left: 0;
  z-index: 101;
  background: $color-brown;
  height: 100vh;
  padding: 31px 30px 36px;
  width: calc(100% - 60px);

  &__phone {
    margin-top: 57px;
    @include text-3;
    line-height: calc(24 / 18);
  }
  &__title {
    margin-top: 57px;
    @include text-2;
  }
  &__text {
    margin-top: 16px;
    @include text-9;
    max-width: 398px;
  }
}

.thanks__logo {
  img {
    width: 129px;
    height: 21px;
  }
}

.button-close {
  position: absolute;
  width: 29px;
  height: 28px;
  top: 0;
  right: 0;
  border: none;
  padding: 0;
  background: url('../images/Catalog_close.svg') center center;
}

.thanks-list {
  margin-top: 25px;
  list-style: none;

    &__item {
    @include heading-6;
    text-decoration: none;
    opacity: 0.4;
    margin-bottom: 5px;

    a {
      text-decoration: none;
      color: $color-basic;
    }
  }
}

.thanks-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}

@media screen and (min-width: 767px) {
  .thanks {
    padding: 64px 95px;
    width: calc(100% - 190px);
    background: url("../images/BG_thanks.png") right 195px top -5px no-repeat, $color-brown;

    &__title {
      @include heading-4;
      display: block;
      margin-top: 168px;
    }

    // &__list {
    //   margin-top: 12px;
    // }

    &__phone {
      margin-left: 2px;
      margin-top: 100px;
      @include text-1;
    }

    &__text {
      margin-top: 28px;
      @include text-4;
      width: 480px;
      max-width: none;
      line-height: calc(28 / 18);
    }

    &__logo {
      img {
        width: 156px;
        height: 26px;
      }
    }
  }

  .thanks-list {
    margin-top: 23px;

    &__item {
      font-size: 72px;
      font-weight: 600;
      line-height: 116px;
      margin-bottom: -29px;
    }
  }

  .button-close {
    width: 46px;
    height: 46px;
    background-size: contain;
  }
}

@media screen and (min-width: 1075px) {
  .thanks-wrapper {
    flex-direction: row;
  }

  .button-close {
    top: -18px;
    right: -118px;
  }

  .thanks {
    padding: 64px 170px;
    width: calc(100% - 340px);
    background: url("../images/BG_thanks_desktop.png") right 645px top -20px no-repeat, $color-brown;

    &__logo {
      position: absolute;
      top: -1px;
    }
    &__title {
      @include heading-5;
      line-height: 42px;
      margin-top: 224px;
    }
    &__phone {
      position: absolute;
      margin: 0;
      top: -11px;
      right: 0;
    }
    &__text {
      @include text-4;
      width: 196px;
      margin-right: 139px;
      margin-top: 57px;
    }
  }

  .thanks-list {
    margin-top: 297px;
    &__item {
      font-size: 76px;
      margin-bottom: -15px
    }
  }
}
