extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +main-section
    //- +header
    //-   img(src="./assets/img/360FlatLogo.svg" alt="Логотип компании 360Flat")
    //-   +b.phone 8 800 550 94 22
    //-   +navigation
    //-   +button.order Оставить заявку
  +advantages
  +360degree
  +ceo
  +request
  +thanks
  +header-menu
