.ceo {
  display: block;
  background-color: $color-brown;
  padding: 157px 30px 120px;

  &__idea {
    @include text-3;
    line-height: 26px;
    position: relative;
    padding-right: 7px;

    &::before {
      display: block;
      position: absolute;
      content: "";
      top: -55px;
      width: 38px;
      height: 28px;
      background: url("../images/quotes.svg");

    }
  }
}

.ceo-about {
  margin-bottom: 153px;

  &__photo {
    width: 157px;
    height: auto;
  }
  &__name {
    @include text-5;
    margin: 14px 0 12px;
  }
  &__position {
    @include text-7;
  }
}

@media screen and (min-width: 767px) {
  .ceo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ceo {
    padding: 157px 130px 122px 96px;

    &__idea {
      @include text-1;
      width: 288px;
      order: 1;
      margin-top: 77px;

      &::before {
        width: 53px;
        height: 39px;
        top: -71px;
        background-size: contain;
      }
    }
  }

  .ceo-about {
    max-width: 157px;
    order: 2;

    &__name {
      margin-top: 17px;
    }
  }
}

@media screen and (min-width: 1075px) {
  .ceo {
    padding: 154px 170px 188px;
  }

  .ceo__idea {
    @include heading-5;
    width: 609px;
    margin-top: 135px;

    &::before {
      width: 85px;
      height: 63px;
      top: -136px;
    }
  }

  .ceo-about {
    max-width: 224px;
    display: flex;
    flex-direction: column;

    &__photo {
      width: 224px;
    }

    &__name {
      @include text-3;
      line-height: 24px;
      margin: 26px 0 10px 37px;
    }

    &__position {
      @include text-4;
      margin-left: 37px;
    }
  }
}

@media screen and (min-width: 1366px) {
}

