mixin ceo()
  +b.SECTION.ceo&attributes(attributes)
    +container
      .ceo-wrapper
        +b.ceo-about
          +e.PICTURE.__photo
            source(media="(min-width: 1075px)" srcset="../assets/images/evgeny_desktop.png")
            source(media="(min-width: 765px)" srcset="../assets/images/evgeny_tablet.png")
            img(srcset="../assets/images/evgeny.png", alt="Евгений Клочков")
          +e.P.__name Евгений Клочков
          +e.P.__position Основатель и генеральный директор
        p.ceo__idea Продвигаем идею высоких стандартов на рынке недвижимости юга России через экспертный, простой и порядочный сервис для покупателей и продавцов квартир.