/* Образец подключения шрифта
@font-face {
  font-family: 'MyWebFont';
  font-style: normal;
  font-weight: 400;
  src: url('webfont.eot');
  src:
    url('webfont.eot?#iefix') format('embedded-opentype'),
    url('webfont.woff2') format('woff2'),
    url('webfont.woff') format('woff'),
    url('webfont.otf')  format('opentype'),
    url('webfont.ttf')  format('truetype'),
    url('webfont.svg#webfont') format('svg');
}
*/

/* Соответствие письменного названия жирности числовому значению
100 — Thin
200 — Extra Light, Ultra Light
300 — Light
400 — Normal, Book, Regular (стандартный)
500 — Medium
600 — Semi Bold, Demi Bold
700 — Bold
800 — Extra Bold, Ultra Bold
900 — Black, Heavy
*/

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('montserrat-medium-webfont.eot');
  src:
    local('Montserrat Medium'), local('Montserrat-medium'),
    url('montserrat-medium-webfont.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('montserrat-medium-webfont.woff2');
  src:
    local('Montserrat Medium'), local('Montserrat-medium'),
    url('montserrat-medium-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('montserrat-medium-webfont.woff');
  src:
    local('Montserrat Medium'), local('Montserrat-medium'),
    url('montserrat-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('montserrat-medium-webfont.ttf');
  src:
    local('Montserrat Medium'), local('Montserrat-medium'),
    url('montserrat-medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('montserrat-medium-webfont.otf');
  src:
    local('Montserrat Medium'), local('Montserrat-medium'),
    url('montserrat-medium-webfont.otf') format('postscript');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('montserrat-medium-webfont.svg');
  src:
    local('Montserrat Medium'), local('Montserrat-medium'),
    url('montserrat-medium-webfont.svg#montserratmedium') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat-regular-webfont.eot');
  src:
    local('Montserrat Regular'), local('Montserrat-regular'),
    url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat-regular-webfont.woff2');
  src:
    local('Montserrat Regular'), local('Montserrat-regular'),
    url('montserrat-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat-regular-webfont.woff');
  src:
    local('Montserrat Regular'), local('Montserrat-regular'),
    url('montserrat-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat-regular-webfont.ttf');
  src:
    local('Montserrat Regular'), local('Montserrat-regular'),
    url('montserrat-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat-regular-webfont.otf');
  src:
    local('Montserrat Regular'), local('Montserrat-regular'),
    url('montserrat-regular-webfont.otf') format('postscript');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat-regular-webfont.svg');
  src:
    local('Montserrat Regular'), local('Montserrat-regular'),
    url('montserrat-regular-webfont.svg#montserratregular') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('montserrat-semibold-webfont.eot');
  src:
    local('Montserrat Semibold'), local('Montserrat-semibold'),
    url('montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('montserrat-semibold-webfont.woff2');
  src:
    local('Montserrat Semibold'), local('Montserrat-semibold'),
    url('montserrat-semibold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('montserrat-semibold-webfont.woff');
  src:
    local('Montserrat Semibold'), local('Montserrat-semibold'),
    url('montserrat-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('montserrat-semibold-webfont.ttf');
  src:
    local('Montserrat Semibold'), local('Montserrat-semibold'),
    url('montserrat-semibold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('montserrat-semibold-webfont.otf');
  src:
    local('Montserrat Semibold'), local('Montserrat-semibold'),
    url('montserrat-semibold-webfont.otf') format('postscript');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('montserrat-semibold-webfont.svg');
  src:
    local('Montserrat Semibold'), local('Montserrat-semibold'),
    url('montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
}