// Текстовые стили, используемые на сайте

@mixin heading-1 {
  font-size: 76px;
  line-height: calc(116 / 76);
  font-weight: 600;
}

// @mixin heading-1-1 {
//   @include heading-1;

//   line-height: calc(100 / 76);
// }

@mixin heading-2 {
  font-size: 66px;
  line-height: calc(88 / 66);
  font-weight: 600;
}

@mixin heading-3 {
  font-size: 52px;
  line-height: calc(70 / 52);
  font-weight: 600;
}

@mixin heading-4 {
  font-size: 46px;
  line-height: calc(60 / 46);
  font-weight: 600;
}

// @mixin heading-4-1 {
// 	@include heading-4;
// 	line-height: calc(36 / 46);
//   }

@mixin heading-5 {
  font-size: 36px;
  line-height: calc(50 / 36);
  font-weight: 600;
}

// @mixin heading-5-1 {
//   @include heading-5;
//   line-height: calc(42 / 36);
// }

@mixin heading-6 {
  font-size: 30px;
  line-height: calc(36 / 30);
  font-weight: 600;
}

@mixin text-1 {
  font-size: 24px;
  line-height: calc(36 / 24);
  font-weight: 600;
}

// @mixin text-1-1 {
// 	@include text-1;
// 	line-height: calc(42 / 24);
// }

// @mixin text-1-2 {
// 	@include text-1;
// 	line-height: calc(24 / 24);
// }

@mixin text-2 {
  font-size: 23px;
  line-height: calc(31 / 23);
  font-weight: 600;
}

@mixin text-3 {
  font-size: 18px;
  line-height: calc(28 / 18);
  font-weight: 600;
}

// @mixin text-3-1 {
// 	@include text-3;
// 	line-height: calc(42 / 18);
// }

// @mixin text-3-2 {
// 	@include text-3;
// 	line-height: calc(26 / 18);
// }

// @mixin text-3-3 {
// 	@include text-3;
// 	line-height: calc(24 / 18);
// }

@mixin text-4 {
  font-size: 18px;
  line-height: calc(28 / 18);
  font-weight: 400;
}

// @mixin text-4-1 {
// 	@include text-4;
// 	line-height: calc(26 / 18);
// }

@mixin text-5 {
  font-size: 16px;
  line-height: calc(24 / 16);
  font-weight: 600;
}

@mixin text-6 {
  font-size: 16px;
  line-height: calc(24 / 16);
  font-weight: 500;
}

@mixin text-7 {
  font-size: 16px;
  line-height: calc(24 / 16);
  font-weight: 400;
}

// @mixin text-7-1 {
// 	@include text-7;
// 	line-height: calc(28 / 16);
// }

@mixin text-8 {
  font-size: 14px;
  line-height: calc(22 / 14);
  font-weight: 600;
}

// @mixin text-8-1 {
// 	@include text-8;
// 	line-height: calc(24 / 14);
// }

@mixin text-9 {
  font-size: 14px;
  line-height: calc(22 / 14);
  font-weight: 400;
}

// @mixin text-9-1 {
// 	@include text-9;
// 	line-height: calc(21 / 14);
// }

@mixin text-10 {
  font-size: 10px;
  line-height: calc(24 / 10);
  font-weight: 600;
}

@mixin text-11 {
  font-size: 10px;
  line-height: calc(16 / 10);
  font-weight: 500;
}

@mixin text {
  font-size: 14px;
  line-height: 1.65;
  font-weight: 400;
}

@mixin text-small {
  font-size: 11px;
  line-height: 1.65;
  font-weight: 400;
}