mixin 360degree()
  +b.SECTION.degree&attributes(attributes)
    .container
      -
        var textsFirst = ['Помогаем подготовить комплект правоустанавливающих документов: консультируем по процессу получения и нюансам. ',
        'Создаем продающие объявления: знакомимся с квартирой, делаем качественные фото за свой счет и составляем точное описание квартиры. ',
        'Запускаем digital-продвижение на платежеспособную аудиторию по всей России и за свой счет: контекстную рекламу, SMM, e-mail рассылку по тем, кому интересны похожие объекты.',
        'Помогаем переоформить право собственности, оформить договор купли-продажи и совершить платеж. Консультируем по налогам.']
        //- var textsSecond = ['Показываем ваше объявление только проверенным контактам — тем, кто уже готов к покупке.',
        //- 'Подробно описываем список работ и коммерческие условия в договоре.',
        //- 'Консультируем по юридическим вопросам на всех этапах покупки квартиры.']
        //- var textsOther = ['База постоянно обновляется: добавляются новые потенциальные покупатели и удаляются те, кто совершил покупку.',
        //- 'Фиксируем и оставляем неизменными до закрытия сделки.',
        //- 'Изучаем документы и владельцев, описываем возможные риски.']
      .top-list-wrapper
        +b.H2.list-title Поддержка на 360°
        +b.P.list-title-text Берем процесс продажи вашей квартиры «под ключ».
        +b.P.list-title-text_desktop Берем процесс продажи Вашей квартиры «под ключ».
        +b.UL.list-top.list
          each val, index in ['Помогаем собрать документы', 'Оформляем объявление', 'Продвигаем объявление', 'Закрываем  сделку']
            +e.LI.__item(class="list-top__item_" + [index])
              +e.P.__item-title= val
              +e.P.__item-text= textsFirst[index]
      .bottom-list-wrapper
        +b.H2.list-title Поддержка на 360°
        +b.H2.list-title_desktop Преимущества на 360°
        +b.P.list-title-text Берем процесс продажи вашей квартиры «под ключ».
        +b.P.list-title-text_desktop Фокусируем наш сервис на решении вашей задачи.
        +tabs.list-bottom.list
          +tab()(data-tab-target="tab1").active.list-bottom__item
            p.list-bottom__item-title Заинтересованная аудитория
            p.list-bottom__item-text_fat.list-bottom__item-text_mobile Показываем ваше объявление только проверенным контактам — тем, кто уже готов к покупке.
            p.list-bottom__item-text_thin.list-bottom__item-text_mobile База постоянно обновляется: добавляются новые потенциальные покупатели и удаляются те, кто совершил покупку.
          +tab()(data-tab-target="tab2").list-bottom__item
            p.list-bottom__item-title Прозрачная сделка
            p.list-bottom__item-text_fat.list-bottom__item-text_mobile Подробно описываем список работ и коммерческие условия в договоре.
            p.list-bottom__item-text_thin.list-bottom__item-text_mobile Фиксируем и оставляем неизменными до закрытия сделки.
          +tab()(data-tab-target="tab3").list-bottom__item
            p.list-bottom__item-title  Юридические консультации
            p.list-bottom__item-text_fat.list-bottom__item-text_mobile Консультируем по юридическим вопросам на всех этапах покупки квартиры.
            p.list-bottom__item-text_thin.list-bottom__item-text_mobile Изучаем документы и владельцев, описываем возможные риски.
        +tabs-content
          +tab-wrapper()(data-tab="tab1" data-tab-group="testtabs").active.item-wrapper
            p.list-bottom__item-text_fat Показываем ваше объявление только проверенным контактам — тем, кто уже готов к покупке.
            p.list-bottom__item-text_thin База постоянно обновляется: добавляются новые потенциальные покупатели и удаляются те, кто совершил покупку.
          +tab-wrapper()(data-tab="tab2" data-tab-group="testtabs").item-wrapper
            p.list-bottom__item-text_fat Подробно описываем список работ и коммерческие условия в договоре.
            p.list-bottom__item-text_thin Фиксируем и оставляем неизменными до закрытия сделки.
          +tab-wrapper()(data-tab="tab3" data-tab-group="testtabs").item-wrapper
            p.list-bottom__item-text_fat Консультируем по юридическим вопросам на всех этапах покупки квартиры.
            p.list-bottom__item-text_thin Изучаем документы и владельцев, описываем возможные риски.


        //- +b.UL.list-bottom.list
        //-   each val, index in ['Заинтересованная аудитория ', 'Прозрачная сделка', 'Юридические консультации']
        //-     +e.LI.__item.list__item.js-slider2
        //-       +e.P.__item-title= val
        //-       .item-wrapper
        //-         +e.P.__item-text_fat= textsSecond[index]
        //-         +e.P.__item-text_thin= textsOther[index]
