.advantages {
  background: url("../images/BG_advantages_mobile.png") left -220px bottom 59px no-repeat, linear-gradient(to bottom, $color-antracite 1691px, $color-brown 1691px);
  display: block;
  padding: 118px 30px 502px;
  min-height: 1074px;

  &__title {
    @include text-2;
    margin-bottom: 24px;
    width: 97%;

    &_desktop {
      display: none;
    }
  }

  &__title-text {
    @include text-7;
    margin-bottom: 96px;
  }
}

.advantages-list {
  &__item{
    @include text-5;
    color: $color-brown;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: "";
      top: 33px;
      width: 100%;
      height: 2px;
      background-color: $color-brown;
    }
  }

  &__item-text,
  &__item-text_mobile {
    @include text-3;
    line-height: 26px;
    color: $color-basic;
    margin-top: 61px;
    margin-bottom: 85px;
  }
}

@media screen and (min-width: 767px) {
  .advantages {
    padding: 1px $padding-size-tablet;
    min-height: 1436px;
    position: relative;
    background: url("../images/BG_advantages_tablet.png") left -135px bottom 33px no-repeat, linear-gradient(to bottom, $color-antracite 1277px, $color-brown 1277px);

    &__title {
      margin-top: 185px;
      @include heading-4;
      margin-bottom: 17px;
    }

    &__title-text {
      @include text-4;
      max-width: 844px;
      margin-bottom: 132px;
    }
  }

  .advantages-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 696px;

    &__item{
      width: 27.8%;
      color: $color-basic;

      &::before {
          display: none;
        }
      }
      &__item-text {
        @include text-1;
        display: none;
        margin-top: 89px;

    }
  }

  .advantages-list__item-text_mobile {
    display: none;
  }

  .active {
    color: $color-brown;

    // &::before {
      //   background-color: $color-brown;
      // }


    >.advantages-list__item-text {
      display: block;
      position: absolute;
      // width: calc(100% - 2 * #{$padding-size-tablet});
      max-width: 855px;
      // left: $padding-size-tablet;
    }
  }
}

@media screen and (min-width: 1075px) {
  .advantages {
    padding: 189px $padding-size-desktop 180px;
    background: url("../images/BG_advantages_desktop.png") left -60px bottom no-repeat, linear-gradient(to bottom, $color-antracite 1640px, $color-brown 1640px);

    &__title {
      display: none;
      @include heading-2;

      &_desktop {
        display: block;
        margin: 0 0 45px;
        padding: 0;
      }

      &-text {
        margin-left: 3px;
        margin-bottom: 128px;
      }
    }
  }

  .advantages-list{
    margin-left: 5px;

    &__item{
      @include text-3;
      width: 26%;

      // &::before {
        //   top: 38px;
      // }
    }

    &__item-text {
      @include heading-5;
      margin-top: 86px;
    }
  }

  .active {
    .advantages-list__item-text {
      width: 706px;
      left: 0;
    }
  }
}

@media screen and (min-width: 1370px) {
  .advantages {
    background: url("../images/BG_advantages_desktop.png") center bottom no-repeat, linear-gradient(to bottom, $color-antracite 1640px, $color-brown 1640px);
  }
}