mixin advantages()
  +b.SECTION.advantages&attributes(attributes)
    +e.H2.__title Работаем только с квартирами бизнес- и комфорт- класса
    +e.H2.__title_desktop Работаем только&nbsp;с квартирами и домами бизнес- и комфорт- класса
    +e.P.__title-text Знаем все об особенностях процесса продажи: помогаем заключить выгодную сделку, сэкономить силы и время.
    -
      var texts = ['Берем на себя весь процесс: от фотографий и поиска покупателя до юридической помощи в сделке.',
        'Стремимся оправдывать доверие клиентов и быть образцом для коллег и партнеров по рынку.',
        'Ценим время наших клиентов: грамотно выстраиваем процессы и оперативно реагируем на любые ситуации.']
    +b.UL.advantages-list
      each val, index in ['Просто', 'Порядочно', 'Быстро']
        +e.LI.__item.js-slider1= val
          +e.P.__item-text= texts[index]