.main-section {
  display: block;
  min-height: 100vh;
  // height: 568px;
  padding: 0 31px 0 28px;
  background: $color-antracite url('../images/BG_sale.jpg') 48% top no-repeat;

  &__content {
    padding-top: 200px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  &__title {
    @include text-2;
    margin-bottom: 18px;
  }

  // &__select {
  //   border: 1px solid rgba($color: #fff, $alpha: 0.5);
  //   // position: relative;
  //   transition: $ease-main;
  //   width: auto;

  //   &:hover {
  //     background-color: $color-brown;
  //   }
  // }

  &__text {
    @include text-7;
  }
}

.inputbox {
  display: inline-block;
  width: auto;
  position: relative;
  background: transparent;
  transition: $ease-main;

  &::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: $ease-main;
    transform-origin: left;
    background-color: $color-brown;
  }

  &:hover {
    &::before {
      transform: translate(100%);
    }
  }
}

option {
  @include text-2;

  .is-open {
    background-color: $color-brown;
  }
}

// .selection__option {
//   height: auto;
//   @include text-2;
// }

.visually-hidden {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}


@media screen and (min-width: 767px) {
  .main-section {
    background: $color-antracite url('../images/BG_sale_tablet.jpg') left -242px bottom no-repeat;
    padding: 0 92px;

    &__content {
      padding-top: 327px;
    }

    &__title, &__select {
      @include heading-3;
    }

    &__text {
      @include text-4;
      margin-top: 24px;
    }
  }

  .button__catalog.is-active {
    width: 46px;
    height: 46px;
    background-size: contain;
  }
}

@media screen and (min-width: 1075px) {
  .main-section {
    background: $color-antracite url('../images/BG_sale_desktop.jpg') left -214px top -245px no-repeat;
    padding: 0 165px 22px;

    &__content {
      padding-top: 286px;
    }

    &__title, &__select {
      @include heading-1;
      line-height: calc(100 / 76);
      margin-bottom: 0;
    }
    &__text {
      @include text-4;
      margin-top: 34px;
      margin-left: 3px;
    }
  }

  .button__catalog.is-active {
    width: auto;
    height: auto;
    margin-left: 21px;
    margin-right: 30px;
    padding-right: 15px;
    background: transparent;
    position: relative;
  }
}

@media screen and (min-width: 1370px) {
  .main-section {
    background: $color-antracite url('../images/BG_sale_desktop.jpg') center center no-repeat;
    background-size: cover;
  }
}

