include ../blocks/accordion/accordion
include ../blocks/advantages/advantages
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/button/button
include ../blocks/container/container
include ../blocks/content-zone/content-zone
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/grid/grid
include ../blocks/header-menu/header-menu
include ../blocks/icon/icon
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/logo/logo
include ../blocks/map/map
include ../blocks/menu/menu
include ../blocks/order/order
include ../blocks/popups/popups
include ../blocks/put-block-into-slot/put-block-into-slot
include ../blocks/rating/rating
include ../blocks/section/section
include ../blocks/slider/slider
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../components/360degree/360degree
include ../components/advantages/advantages
include ../components/header/header
include ../components/main-section/main-section
include ../components/ui-kit/ui-kit